.about-image {
    width: 100%;
}

@media screen and (min-width: 500px) {
    .about-image {
        width: 300px;
        margin-left: 50px;
    }
}

@media screen and (min-width: 800px) {
    .about-row {
        display: flex; 
        flex-direction: row-reverse;
    }
}

@media (min-width: 500px) and (max-width: 800px) {
    .about-image {
        display: block;
        margin-left: auto;
        margin-right: auto;   
     }
}





