.recipelink-styles {
    font-family: 'Montserrat';
    font-size: 15px;
    color: var(--pinoy-blue);
    white-space: nowrap;
}

.recipelink-inactive {
    font-family: 'Montserrat';
    font-size: 15px;
    color: var(--pinoy-blue);
    white-space: nowrap;
}

.recipelink-styles:hover {
    text-shadow: 0px 0px 10px rgb(246, 215, 137);
}

.recipelink-styles.active {
    border-bottom-color: var(--pinoy-blue);
    border-bottom-style: solid;
    border-bottom-width: 2.5px;
}

.recipelinks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

li {
    margin-bottom: 10px;
}

/* images */
.main-image {
    width: 100%;
    margin-top: 25px;
}
/* recipe cards */
.recipes-space {
    padding-top: 25px;
    padding-bottom: 1px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: #f9f1e6;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.recipe-cards-container {
    background-color: white;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-top: 12px;
    font-family: 'Montserrat';
    font-weight: bold;
    box-shadow: 0px 0px 4px rgb(190, 184, 184);
}

.recipe-cards-container:hover {
    box-shadow: 0px 0px 10px var(--pinoy-blue);
    cursor: pointer;
}

.card-image {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.comment-box {
    padding-top: 25px;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
}

.kuwento-paras {
    line-height: 40px;
    font-size: 20px;
}

.kuwento-subtitle {
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
}

.signature {
    margin-top: 30px;
    font-size: 43px;
    font-family: 'Sacramento';
}


.ingredients-container {
    background-color: white;
    box-shadow: 0px 0px 10px rgb(190, 184, 184);
}

.ingredients-subcontainer {
    padding: 20px;
}

/* left margin for ol */
.instruction-list {
    margin-left: 30px;
    margin-bottom: 5px;
    line-height: 20px;
}

.bullet-points {
    list-style:disc;
    margin-left: 25px;
}

.recipe-cards-container {
    background-color: white;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-top: 12px;
    font-family: 'Montserrat';
    font-weight: bold;
    box-shadow: 0px 0px 4px rgb(190, 184, 184);
}

.recipe-cards-container:hover {
    box-shadow: 0px 0px 10px var(--pinoy-blue);
    cursor: pointer;
}

.card-image {
    width: 100%;
    height: 230px;
    object-fit: cover;
}


button {
    margin-top: 0px;
    padding: 7px;
    width: 100%;
    color: var(--pinoy-blue);
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;
    border: none;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 1px 2px 0 rgba(0,0,0,0.19);

}

button:hover {
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24), 0 2px 4px 0 rgba(0,0,0,0.19);
}

.newcomment-button {
    background-color:rgb(190, 184, 184);
}

.reply-button {
    background-color: var(--navbar-kulay);
    box-shadow: none;
    font-size: 15px;
    margin-top: 25px;
    margin-right: 30px;
    font-weight: bold;
    text-shadow: 0px 0px 1px gray;
    text-align: right;
}

.reply-button:hover {
    cursor: pointer;
    box-shadow: none;
}

.cancel-button {
    width: 75px;
    padding: 7px;
    border-radius: 5px;
    margin-right: 10px;
}

.reply-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post-button {
    width: 75px;
    padding: 7px;
    border-radius: 5px;
    background-color: var(--pinoy-blue);
    color: white;
}

.post-title {
    text-shadow: 0px 1px 1px rgb(139, 121, 121);
}

.post-title:hover {
    color: var(--pinoy-blue);
    cursor: pointer;
}



.recipe-titles {
    padding-top: 20px;
    text-align: center;
}

.card-title {
    color: var(--pinoy-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

/* comments and replies */
.comment-group {
    background-color: var(--navbar-kulay);
    padding: 25px;
    display: flex;
    flex-direction: column;
}


.reply-group {
    background-color: #f1e6d8;
    padding: 25px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.newcomment-text {
    margin-bottom: 18px;
    /* color: var(--pinoy-blue); */
}

.newcomment-box {
    background-color: #f1e6d8;
    padding: 25px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.comment-box {
    background-color: var(--navbar-kulay);
    margin-top: 20px;
}

.subcomment-box {
    padding: 15px;
}

.comment-name {
    font-size: 18px;
    margin-bottom: 5px;
    font-family: 'Montserrat';
    font-weight: bold;
}

.replies-box {
    background-color: var(--navbar-kulay);
    padding: 15px;
    margin-bottom: 10px;
}

@media screen and (min-width: 800px) {
    .recipelink-styles {
        margin-right: 50px;
    }

    .recipelink-inactive {
        margin-right: 50px;
    }

    .recipelinks-container {
        display: flex;
        flex-direction: row;
        padding-top: 30px;
    }

    /* recipe cards  */
    .recipe-cards-container {
        width: 200px;
        height: 200px;
        text-align: center;
    }
    
    .card-image {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .recipes-space {
        padding-top: 25px;
        padding-bottom: 25px;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        justify-content: space-evenly;
    }
}